#button
.h3, h3 {
    margin: 23px;
    font-size: 4.75rem;
    padding: 10px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
    color:brown;
}
.mmm{
    margin: 23px;
    font-size: 4.75rem;
    padding: 10px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
    color:brown;
}
